/* Utility classes */
* {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}

input {
  outline: none;
}

/* Header */
/* Navbar */
.logo {
  margin-right: 6rem !important;
}

.navbar_link {
  font-weight: 700;
  font-size: 12px !important;
  color: #C6C1BD !important;
}

.navbar_link:hover {
  color: #F72B0C !important;
  border-bottom: 2px solid #F72B0C;
}

form span i {
  color: #C6C1BD;
  border-left: 2px solid #C6C1BD;
}

.navbar_search {
  border: none !important;
  width: 30px !important;
  height: 20px !important;
}

/* Hero content */
.hero_content {
  background-image: url('../img/slider-1-bg.jpg');
  background-size: cover;
  color: white;
}

.hero_content h2 {
  font-weight: 200;
}

.hero_content h1 {
  font-weight: 800;
  font-size: 50px;
}

.date_conference {
  font-weight: 700;
  font-size: 11px;
  border-top: 2px solid white;
}

.hero_content button {
  font-weight: 700;
  font-size: 11px;
  color: white;
  background-color: #F72B0C;
}

/* Main */
/* W Section */
.card-body i,
.card-body p {
  font-size: 14px;
  color: #C6C1BD;
}

.card-body a {
  color: #F72B0C;
}

/* Timer section */
.timer {
  height: 400px;
  background-image: url('../img/coutdown-bg1.jpg');
}

.timer p {
  font-weight: 700;
  color: black;
}

.timer input {
  width: 20rem;
  height: 45px;
  border: none;
  padding: 0;
}

.timer button {
  height: 45px;
  background-color: #F72B0C;
  color: white;
  font-weight: 700;
  font-size: 11px;
  border: none;
  border-bottom: 2px solid #8d1402;
}

/* Speakers section */
.carosual_speakers,
.carosual_speakers .card {
  background-color: #F7F7F7;
}

.carosual_speakers h3,
.program_title h3 {
  font-weight: 700;
}

.arrow_bt .arrow_left,
.arrow_bt .arrow_right {
  background-color: #F72B0C;
  color: white;
}

.card-body span:first-child {
  font-weight: 700;
}

.card-body span:last-child,
.program_title p {
  font-size: 12px;
  color: #868686;
}

/* Program section */
.program_title p {
  width: 500px;
}

.program_title span {
  font-weight: 600;
  font-size: 15px;
  color: #F72B0C;
}

/* Calendar */
.days {
  width: 222px;
  height: 50px;
  background-color: #F72B0C;
  border-right: 2px solid #8d1402;
}

.days:hover {
  cursor: pointer;
  background-color: #8d1402;
}

.days span:first-child {
  font-weight: 600;
  color: white;
}

.days span:last-child {
  font-weight: 300;
  font-size: 13px;
  color: white;
}

/* Conference details */
.conference_details {
  background-color: #F7F7F7;
}

.conference_info {
  font-size: 11px;
  color: #868686;
}

.conference_speaker {
  width: 200px;
  color: #F72B0C;
}

.conference_content h3 {
  color: #353434;
  font-weight: 500;
}

.conference_content p {
  color: #868686;
  font-weight: 400;
}

.conference_content img {
  width: 100px;
}

/* Maps section */
#map {
  height: 400px;
  width: 100%;
}
/* Location section */
.location_section {
  background-image: url('../img/location-bg.jpg');
  height: 300px;
  color: white;
}

.location_contact {
  border-top: 2px solid white;
}

.location_info h3,
.location_info span:first-child {
  font-weight: 700;
}

.location_info span:last-child {
  font-weight: 300;
  color: #F72B0C;
}

/* Footer */
footer {
  background-color: #272727;
}
