/* Utility classes */
* {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}

/* Header */
/* Navbar */
.logo {
  margin-right: 6rem!important;

}

.navbar_link {
  font-weight: 700;
  font-size: 12px!important;
  color: #C6C1BD!important;
}

.navbar_link:hover {
  color: #F72B0C!important;
  border-bottom: 2px solid #F72B0C;
}

form span i {
  color: #C6C1BD;
  border-left: 2px solid #C6C1BD;
}

.navbar_search {
  border: none!important;
  width: 30px!important;
  height: 20px!important;
}

/* Hero content */
.hero_content {
  background-image: url('../img/slider-1-bg.jpg');
  background-size: cover;
  color: white;
}

.hero_content h2 {
  font-weight: 200;
}

.hero_content h1 {
  font-weight: 800;
  font-size: 50px;
}

.date_conference {
  font-weight: 700;
  font-size: 11px;
  border-top: 2px solid white;
}

.hero_content button {
  font-weight: 700;
  font-size: 11px;
  color: white;
  background-color: #F72B0C;
}

/* Main */
/* W Section */
.card-body i,
.card-body p {
  font-size: 14px;
  color: #C6C1BD;
}

.card-body a {
  color: #F72B0C;
}
